* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  margin-bottom: 16px;
}

main {
  width: 100%;
  max-width: 960px;
  margin: auto;
}

label {
  padding: 8px;
}

label span {
  display: inline-block;
  padding-left: 8px;
}

input {
  padding: 4px;
}

button {
  padding: 4px;
}
